
/*
Variables
*/
:root
{
    --menu-bar-element-size: 35px;
    --menu-bar-top-bottom-pad: 3px;
    --menu-bar-color: #494949;
    --menu-bar-text-size: 16px;
}

html
{
    overflow: hidden;
}

body
{
    background-color: black;
    overflow: hidden;
}

button
{
    background-color: var(--menu-bar-color);
    border: none;
    color: white;
    font-family: Lucida Console;
    font-size: var(--menu-bar-text-size);
}

/*
The menu bar is the location of all the buttons above the edit area.
*/
.menu-bar
{
    background-color: var(--menu-bar-color);
    padding-top: var(--menu-bar-top-bottom-pad);
    padding-bottom: var(--menu-bar-top-bottom-pad);
    color: white;
    font-family: Lucida Console;
    font-size: var(--menu-bar-text-size);
    vertical-align: middle;
}

.spacing
{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
Formatting for document name input
*/
#document-name-input
{
    vertical-align: middle;
}

/*
Formatting new tab button icon
*/
#new-tab-button-icon
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
}

/*
Formatting for the save button icon
*/
#save-button-icon
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
}

/*
Formatting for upload button icon
*/
#upload-button-icon
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
}

/*
Formatting for new tab button
*/
#new-tab-button
{
    border-style: none;
}

/*
Formatting for save button
*/
#save-button
{
    border-style: none;
}

/*
Formatting for upload button
*/
#upload-button
{
    border-style: none;
}

/*
Formatting for the dropdown buttons
*/
.dropdown-button
{
    display: inline-table;
}

/*
Default formatting for dropdown items
*/
.dropdown-items
{
    background-color: darkgray;
    overflow: hidden;
}

/*
Formatting for text color picker
*/
#text-color-picker
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
    border-style: none;
}

/*
Formatting for background color picker
*/
#background-color-picker
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
    border-style: none;
}

i
{
    vertical-align: middle;
}

/*
Formatting for font size picker
*/
#font-size-picker
{
    text-align: center;
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
    border-style: none;
    display: table-cell;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    padding-right: 10px;
}

/*
Formatting the label next to the backgrounc color picker
*/
#background-color-picker-label
{
    /*Padding needed to expand the box around the dropdown baackgrounds*/
    padding-right: 10px;
}

/*
Formatting for checkbox class
*/
.checkbox
{
    transform: scale(1.2);
}

#editing-area
{
    height: 90vh;
    overflow: hidden;
}

/*
Formatting of main text area where user can type things.
*/
#text-area
{
    background-color: black;
    color: lime;
    border-style: none;
    resize: none;
    width: 100%;
    font-size: 20px;
    font-family: Lucida Console;
    padding-top: 20px;
    outline: none;
    white-space: pre;
}

#HTML-display-area
{
    background-color: white;
    color: black;
    width: 50%;
    height: 100%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-width: 5px;
    border-left-color: white;
}

footer
{
    font-size: 15px;
    font-family: Lucida Console;
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}