
/*
Variables
*/
:root
{
    --menu-bar-element-size: 35px;
    --menu-bar-top-bottom-pad: 3px;
}

html
{
    overflow: hidden;
}

body
{
    background-color: black;
    overflow: hidden;
}

/*
The menu bar is the location of all the buttons above the edit area.
*/
.menu-bar
{
    background-color: dimgray;
    padding-top: var(--menu-bar-top-bottom-pad);
    padding-bottom: var(--menu-bar-top-bottom-pad);
    color: white;
    font-family: Lucida Console;
    font-size: 16px;
    vertical-align: middle;
}

.spacing
{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*
Formatting for document name input
*/
#document-name-input
{
    vertical-align: middle;
}

/*
Formatting new tab button icon
*/
#new-tab-button-icon
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
}

/*
Formatting for the save button icon
*/
#save-button-icon
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
}

/*
Formatting for upload button icon
*/
#upload-button-icon
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
}

/*
Formatting for new tab button
*/
#new-tab-button
{
    border-style: none;
}

/*
Formatting for save button
*/
#save-button
{
    border-style: none;
}

/*
Formatting for upload button
*/
#upload-button
{
    border-style: none;
}

/*
Formatting for text color picker
*/
#text-color-picker
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
    border-style: none;
}

/*
Formatting for background color picker
*/
#background-color-picker
{
    width: var(--menu-bar-element-size);
    height: var(--menu-bar-element-size);
    border-style: none;
}

/*
Formatting for font size picker
*/
#font-size-picker
{
    text-align: left;
    width: 50px;
    height: var(--menu-bar-element-size);
    border-style: solid;
    border-width: 1px;
}

/*
Formatting for checkbox class
*/
.checkbox
{
    transform: scale(1.2);
}

#editing-area
{
    height: 90vh;
    overflow: hidden;
}

/*
Formatting of main text area where user can type things.
*/
#text-area
{
    background-color: black;
    color: lime;
    border-style: none;
    resize: none;
    width: 100%;
    font-size: 20px;
    font-family: Lucida Console;
    padding-top: 20px;
    outline: none;
}

#HTML-display-area
{
    background-color: white;
    color: black;
    width: 50%;
    height: 100%;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-width: 5px;
    border-left-color: white;
}

#cr-info
{
    font-size: 15px;
    font-family: Lucida Console;
    background-color: white;
    color: black;
    text-align: center;
}